name: build react application
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: checkout repository
    runs-on: ubuntu-slim
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: check node version
        run: node --version

          
