name: Build docker image
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "building docker image for nginx"
          docker build -t my-nginx .
          sleep 10s
      - run: docker images
      
        
